<div class="position-absolute top-50 start-50 translate-middle">
  <div class=text-center>
    <h1>不正解です。</h1>
    <p>正解を確認して次のクイズに進みましょう。</p>

    <%= link_to "次のクイズへ", quiz_path(Quiz.order("RANDOM()").first) %>
  </div>
</div>